body {
    /* Set background image */
    background-image: url(bgimage.jpg);
    /* Ensure the background image covers the entire viewport */
    background-size: cover;
    /* Position the background image */
    background-position: center;
    /* Set a minimum height for the body */
    min-height: 100vh;
    /* Make sure the body takes up the entire viewport */
    margin: 0;
    /* Positioning and sizing for the pseudo-element */
    position: relative;
  } 
  
   body::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0, 0.6); 
    pointer-events: none;

} 
.netflix{
    color: red;
    text-decoration: solid;
    font-size:18px;
    font-weight: 400;
    padding-left: 30px;
    margin-top: -10px;
    font-family: 'Arial Narrow';
    transform: translate(0px, 5px) rotate(0deg);
    display: inline-block;
    padding-right: 500px;
    opacity: 1;
    position: relative;
}
.si{
    display: inline-block;
    margin-top: -22px;
    padding-left: 750px;
    opacity: 1;
    position: relative;
}
.sign{
    
    background-color: red; 
    border:red;
    color: white;
    border-radius: 5%;
  cursor: pointer;
  padding: 11px 20px ;
    font-size: 18px;
    opacity: 1;
}
.middle{
    color:white;
    text-align: center;
    font-size: 32px;
    margin-top: 220px;
    opacity: 1;
    position: relative;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h1{
    margin-bottom: -10px;
}
h4{
    font-size: 30px;
    font-weight: 15;
    opacity: 1;
}
p{
    font-size: 25px;
    margin-top: 0px;
    opacity: 1;
}
#email{
    width:400px;
    height: 58px;
    display: inline-block;
    margin-right: -12px;
    opacity: 1;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.start{
    width:200px;
    height:62px;
    display: inline-block;
    background-color: red; 
    border:red solid 1px;
    color: white;
  cursor: pointer;
    font-size: 15px;
    opacity: 1;
    opacity: 1;
}
